<p id="notice"><%= notice %></p>

<p>
  <strong>Date created:</strong>
  <%= @diagnostic.date_created %>
</p>

<%= link_to 'Edit', edit_diagnostic_path(@diagnostic) %> |
<%= link_to 'Back', diagnostics_path %>
