<h1>Editing Headline To Ad Size Assignment</h1>

<%= render 'form', headline_to_ad_size_assignment: @headline_to_ad_size_assignment %>

<%= link_to 'Show', @headline_to_ad_size_assignment %> |
<%= link_to 'Back', headline_to_ad_size_assignments_path %>
