<h1>Editing Cdg User To Role Assignment</h1>

<%= render 'form', cdg_user_to_role_assignment: @cdg_user_to_role_assignment %>

<%= link_to 'Show', @cdg_user_to_role_assignment %> |
<%= link_to 'Back', cdg_user_to_role_assignments_path %>
