<h1>Editing Cdg Template Stage Datum</h1>

<%= render 'form', cdg_template_stage_datum: @cdg_template_stage_datum %>

<%= link_to 'Show', @cdg_template_stage_datum %> |
<%= link_to 'Back', cdg_template_stage_data_path %>
