<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @headlinecolortype.name %>
</p>

<%= link_to 'Edit', edit_headlinecolortype_path(@headlinecolortype) %> |
<%= link_to 'Back', headlinecolortypes_path %>
