<h1>Editing Registered Component</h1>

<%= render 'form', registered_component: @registered_component %>

<%= link_to 'Show', @registered_component %> |
<%= link_to 'Back', registered_components_path %>
