<h1>Editing Work Flow Process Tmp</h1>

<%= render 'form', work_flow_process_tmp: @work_flow_process_tmp %>

<%= link_to 'Show', @work_flow_process_tmp %> |
<%= link_to 'Back', work_flow_process_tmps_path %>
