<h1>Editing Designationformfieldvalue</h1>

<%= render 'form', designationformfieldvalue: @designationformfieldvalue %>

<%= link_to 'Show', @designationformfieldvalue %> |
<%= link_to 'Back', designationformfieldvalues_path %>
