<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Arf Details</title>
		<style type="text/css">
			html, body, div, span, applet, object, iframe,
			h1, h2, h3, h4, h5, h6, p, blockquote, pre,
			a, abbr, acronym, address, big, cite, code,
			del, dfn, em, img, ins, kbd, q, s, samp,
			small, strike, strong, sub, sup, tt, var,
			b, u, i, center,
			dl, dt, dd, ol, ul, li,
			fieldset, form, label, legend,
			table, caption, tbody, tfoot, thead, tr, th, td,
			article, aside, canvas, details, embed,
			figure, figcaption, footer, header, hgroup,
			menu, nav, output, ruby, section, summary,
			time, mark, audio, video {
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 95%;
				font-family: "Helvetica", "Arial", sans-serif;
				vertical-align: baseline;
			}

			#container {
				position: absolute;
				width: 740px;
				top: 0;
				left: 0;
				padding: 12px;
			}

			.footer {
				position: absolute;
				width: 744px;
				top: 900px;
			}

			.header {
				font-size: 2em;
				font-weight: bold;
				line-height: 2.5em;
				text-decoration: "underline";
				margin-top: 1em;
				margin-bottom: 1em;
				clear: both;
				width: 100%;
			}

			img {
				left: 400px;
				padding: 0px 0px 5px 5px;
			}

			.subheader {
				line-height: 2em;
				margin-top: .5em;
				margin-bottom: .5em;
				clear: both;
				width: 100%;
			}

			.subheadmajor {
				font-size: 1.5em;
				font-weight: bold;
			}

			.subheaderminor {
				font-size: 1em;
				font-weight: bold;
			}

			.copy {
				margin-top: .25em;
				margin-bottom: .25em;
				clear: both;
				width: 100%;
			}

			.label {
				clear: both;
				font-size: .65em;
			}

			.next {
				clear: right;
			}

			table.grey{
				width:704px;
				background-color:#DDD;
				border-collapse: collapse;
				margin-bottom: 2em;
			}

			table.white{
				width:704px;
				background-color:#FFF;
				border-collapse: collapse;
				margin-bottom: 2em;
			}

			td {
				border: 1px solid #000;
				padding: 0.1em;
				min-height: 30px;
			}
		</style>
	</head>
	<body>
		<div id="container">
			<div class="header">
				Local Advertising Request Form (Ad Builder)
			</div>
			<div style="text-align:justify;width:95%;">
				Financial Advisors must consult Morgan Stanley Local and Internet Advertising Guidelines on 3DR or Ad Builder for complete
				ad request process and required guidelines. Branch approval of the ARF is for budget and expense purposes only. Approval of
				ad subject,	content matter and FA information is managed through Ad Builder automated approval system.
				See Local Ad Guide for further details.
			</div>
			<div class="subheader">
				1. Advertising Request
			</div>
			<div class="subheader">
				<span class="subheadmajor">2. Branch Approvals </span><span class="subheadminor">(Sr. CSM or Sr. CRO for Print and Media Managers for Web Banners)</span>
			</div>

			<div class="subheader">
				<span class="subheadmajor">3. Region Approvals </span><span class="subheadminor">(RBSO and RRO for Print and Sr. CSM or Sr. CRO for Web Banners)</span>
			</div>
			<div>
				Please retain a copy of the approved ARF along with a copy of the final ad for branch records.
			</div>
			<div class="footer">
			</div>
		</div>
	</body>
</html>