<h1>Editing Activity Participant Assignment</h1>

<%= render 'form', activity_participant_assignment: @activity_participant_assignment %>

<%= link_to 'Show', @activity_participant_assignment %> |
<%= link_to 'Back', activity_participant_assignments_path %>
