<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @data_ref_type.name %>
</p>

<%= link_to 'Edit', edit_data_ref_type_path(@data_ref_type) %> |
<%= link_to 'Back', data_ref_types_path %>
