<h1>Editing Page To Headline Assignment</h1>

<%= render 'form', page_to_headline_assignment: @page_to_headline_assignment %>

<%= link_to 'Show', @page_to_headline_assignment %> |
<%= link_to 'Back', page_to_headline_assignments_path %>
