<h1>Editing Ad Matrix Category Headline</h1>

<%= render 'form', ad_matrix_category_headline: @ad_matrix_category_headline %>

<%= link_to 'Show', @ad_matrix_category_headline %> |
<%= link_to 'Back', ad_matrix_category_headlines_path %>
