<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @publication_type.name %>
</p>

<%= link_to 'Edit', edit_publication_type_path(@publication_type) %> |
<%= link_to 'Back', publication_types_path %>
