<h1>Editing Work Flow Activity Definition</h1>

<%= render 'form', work_flow_activity_definition: @work_flow_activity_definition %>

<%= link_to 'Show', @work_flow_activity_definition %> |
<%= link_to 'Back', work_flow_activity_definitions_path %>
