<h1>Editing Function To Group Assignment</h1>

<%= render 'form', function_to_group_assignment: @function_to_group_assignment %>

<%= link_to 'Show', @function_to_group_assignment %> |
<%= link_to 'Back', function_to_group_assignments_path %>
