<h1>Editing Category To Category</h1>

<%= render 'form', category_to_category: @category_to_category %>

<%= link_to 'Show', @category_to_category %> |
<%= link_to 'Back', category_to_categories_path %>
